[submodule "EyeTracking"]
	path = EyeTracking
	url = https://github.com/Sukruthi-C/GazeTracking.git
[submodule "YOLO-Object-Detection"]
	path = YOLO-Object-Detection
	url = https://github.com/Sukruthi-C/YOLO-Object-Detection.git
